.card-product-slip {
    padding: 1rem;
}
.card-product-slip .card-header h4,
.card-product-slip .card-header h5 {
    color: #333;
    margin-right: 1rem;
    margin-top: 1rem;
}
.card-product-slip .card-header h4.card-title {
    font-weight: 700;
    font-size: 3rem;
}
.card-product-slip .card-header h5.card-sub-title {
    font-weight: 500;
    font-size: 1.4rem;
    font-style: italic;
}
.card-product-slip.main-info .card-body {
    margin-top: 2rem;
}
.card-product-slip.main-info .card-body > div {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.card-product-slip.main-info .main-info-title {
    font-weight: 600;
    color: #333;
    font-size: 1.4rem;
    width: 10%;
}
.card-product-slip.main-info .main-info-label {
    font-weight: 500;
    color: #333;
    font-size: 1.4rem;
}

.card-product-slip.detail-info .print-section.before-print {
    border-right: 1px solid #666;
}
.card-product-slip.detail-info .print-section .print-title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}
.card-product-slip.detail-info .print-section .print-row {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}
.card-product-slip.detail-info .print-section .print-row .print-row-input.print-radio {
    padding-top: .75rem;
}
.card-product-slip.detail-info .print-section .print-row .print-row-title,
.card-product-slip.detail-info .print-section .print-row .print-row-input input {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #333;
}
.card-product-slip.detail-info .print-section .print-row .print-row-title {
    padding-top: 1rem;
}
