.card-user {
    padding: 1rem;
}
.card-user .card-header .card-title {
    color: #333;
    margin: 0.5rem 1rem 1rem 0;
    font-weight: bold;
}
.card-user .card-header #btnBlockUser {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}
.card-user .card-body {
    display: flex;
    width: 100%;
}

#websiteInfoWrapper {
    display: flex;
}
#websiteInfoWrapper .info-line {
    width: 100%;
    margin-top: 1rem;
    display: flex;
}
#websiteInfoWrapper #overviewInfoWrapper .info-line .info-left { width: 40%; }
#websiteInfoWrapper #overviewInfoWrapper .info-line .info-right { width: 60%; }
#websiteInfoWrapper #overviewInfoWrapper .info-line .info-left,
#websiteInfoWrapper #overviewInfoWrapper .info-line .info-right {
    font-size: 1.4rem;
    display: inline-flex;
    font-weight: 500;
}
#websiteInfoWrapper #vhostConfigWrapper {
    display: flex;
}
#websiteInfoWrapper #vhostConfigWrapper code {
    font-size: 1.4rem;
    color: #000000;
    font-weight: 500;
    background: #f7f7f7;
    padding: 1rem;
    margin-left: 2rem;
}
#websiteInfoWrapper #vhostConfigWrapper code {
    font-size: 1.4rem;
}
